@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox scrollbar */
* {
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg-laptop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}









@media (max-width: 600px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg-phone.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}